.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.score-panel{
    text-align: left;
    margin-bottom: 12px;
}
.timer{
    display: inline-block;
    margin: 0 1rem;
}
.restart{
    float: right;
    cursor: pointer;
    margin: 0px 8px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    background: #1c3260;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 8px 9px 26px 0 rgb(46 61 73 / 50%);
}
.grid-container .card{
    height: 3.7rem;
    width: 3.7rem;
    margin: 0.2rem;
    background: #f03d5f;
    font-size: 0;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgb(46 61 73 / 50%);
}
.card.open{
    transform: rotate(0);
    background: #02b3e4;
    cursor: default;
    animation-name: flipInY;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .75s;
}
.card.show{
    font-size: 33px;
    visibility: visible !important;
    opacity: 100 !important;
}
.card.disabled{
    pointer-events: none;
    opacity: 0.9;
}

/*animations*/
@keyframes flipInY {
    from {
        transform: perspective(400px) rotate3d(0,1,0,90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(0,1,0,-20deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(0,1,0,10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(0,1,0,-5deg);
    }

    to {
        transform: perspective(400px);
    }
}